
<div class="navbar" id="nav">
    <div class="m-2 p-2" id="hamburger">
        <a href="javascript:void(0);" class="icon" onclick="toggleMenu()">
            &#9776;
        </a>
    </div>
    <img id="logo" src="assets/images/chipsLogo.webp" alt="Chips">
    <a href="/">HOME</a>
    <a href="/removal">TREE REMOVAL & STUMP GRINDING</a>
    <a href="/trimming">TREE TRIMMING & PRUNING</a>
    <a href="/contact">CONTACT</a>
</div>

<div class="container-md bg-light mt-1">
    <<ng-content></ng-content>
</div>
